<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>my todo list</title>
  <style>
    .my-todo-list{
      display: inline-block;
      width: 33%;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>myTodoList</h1>
    <my-todo-list category="하고 싶은 일"></my-todo-list>
    <my-todo-list category="해야 하는 일"></my-todo-list>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('my-todo-list', {
      template: `
      <div class="my-todo-list">
        <h2>{{ category }}</h2>
        <li v-for="todo in todos" v-bind:key="todo.id">
          {{ todo.content }} - {{ todo.todayDate }}
          <button v-on:click="removeTodo(todo.id)">X</button>
        </li>
        <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
        <button v-on:click="addTodo">+</button>
      </div>
      `,
      props: {
        category: {
          type: String,
          required: true,
          validator: function(value){
            if (value.length < 10){
              return true
            } else {
              return false
            }
          }
        }
      },
      data: function() {
        return {
          todos:[],
          newTodo: '',
        }
      },
      methods: {
        addTodo: function() {
          if (this.newTodo.length !== 0) {
            this.todos.push({
              id: Date.now(),
              content: this.newTodo,
              todayDate: Date(),
            })
            this.newTodo=''
          }
        },
        removeTodo: function(todoId) {
          this.todos = this.todos.filter((todo)=> {
            return todo.id !== todoId
          })
        }
      }
    })
  </script>
  <script>
    const app = new Vue({
      el: '#app',
    })
  </script>
</body>
</html>