/* * {
    color: darksalmon;
    font-size: 25px
} */

/* ol, ul{
    list-style-type: none;
}

a{  
    text-decoration: none;
} */
/* 
.favorite{
    color:purple;
}

#title{
    color:blanchedalmond
} */

ol > li{
    color: crimson
}